		<footer class="black inverted vertical segment">
			<div class="ui center alingned container">
				<p>footer starts here</p>
			</div>
		</footer>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
	<script>
		$('.dropdown')
			.dropdown({
			// you can use any ui transition
			on: 'hover',
			transition: 'drop'
		});
	</script>
</body>
</html>